<div class="filter-bar">

    <form class="form-inline">
        <input id="date-form" name="datepicker" class="form-control mr-sm-2" type="text">
    </form>

    <div class="dropdown">
        <button class="filter-btn btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Breed
        </button>
        <div id="form-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form class="form-inline my-2 my-lg-0">
                <input id="breed" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>

    <div class="dropdown">
        <button class="filter-btn btn btn-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gender
        </button>
        <div id="gender" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" id="male" href="#">Male</a>
            <a class="dropdown-item" id="female" href="#">Female</a>
            <a class="dropdown-item" id="both-gender" href="#">Both</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="filter-btn btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Size
        </button>
        <div id="size" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" id="small" href="#">Small</a>
            <a class="dropdown-item" id="medium" href="#">Medium</a>
            <a class="dropdown-item" id="large" href="#">Large</a>
            <a class="dropdown-item" id="all" href="#">All</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="filter-btn btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Price
        </button>
        <div id="price-menu" class="dropdown-menu unselectable" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item unselectable " href="#">
                <div class="slider-container unselectable ">
                    <input type="text" id="range" value="" name="range" />
                </div>
            </a>
        </div>
    </div>
</div>

<script src="https://use.fontawesome.com/0117e057ac.js"></script>
<script src="/js/filterDogs.js"></script>
