<div class="filter-bar">

    <form class="form-inline">
        <input id="date-form" name="datepicker" class="form-control mr-sm-2" type="text">
    </form>

    <div class="dropdown">
        <button class="filter-btn btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Breed   
        </button>
        <div id="form-menu" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
    </div>

    <div class="dropdown">
        <button class="filter-btn btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gender
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Male</a>
            <a class="dropdown-item" href="#">Female</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="filter-btn btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Size
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Small</a>
            <a class="dropdown-item" href="#">Medium</a>
            <a class="dropdown-item" href="#">Large</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="filter-btn btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Price
        </button>
        <div id="price-menu" class="dropdown-menu unselectable" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item unselectable " href="#">
                <div class="slider-container unselectable ">
                    <input type="text" id="range" value="" name="range" />
                </div>
            </a>
        </div>
    </div>
</div>

<script src="https://use.fontawesome.com/0117e057ac.js"></script>

<script>
    $(function() {

        $("#range").ionRangeSlider({
            min: 0,
            max: 5000,
            from: 0,
            to: 5000,
            type: 'double',
            step: 1,
            prefix: "$",
        });
        $('#price-menu').bind('click', function (e) {
            e.stopPropagation()
        })

        $('.filter-btn').popover({
            container: 'body',
            html: true,
            offset: 2,
            content: function () {
                return $(this).next('.popper-content').html();
            }
        });

        $('input[name="datepicker"]').daterangepicker({
            "autoApply": true,
            "alwaysShowCalendars": true
        });

    });
</script>