{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registerDogModal" data-whatever="@mdo">Register a dog</button> --}}

<div class="modal fade" id="registerDogModal" tabindex="-1" role="dialog" aria-labelledby="registerDogModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register a dog</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>

                <form id="dog_form" action="/dog/registration" method="POST" encType="multipart/form-data">
                    <div id="form_1">
                        <div class="form-group">
                            <label for="InputName">Name</label>
                            <input type="text" id="dog_name" name="name" class="form-control" placeholder="Name of your dog" required>
                        </div>
                        <div class="form-group">
                            <label for="InputBreed">Breed</label>
                            <input type="text" id="dog_breed" name="breed" class="form-control" placeholder="breed of your dog" required>
                        </div>
                        <div class="form-group">
                            <label for="InputSex">Sex</label>
                            <select type="age" id="dog_sex" name="sex" class="form-control" required>
                                <option></option>
                                <option>M</option>
                                <option>F</option>
                            </select>
                        </div>
                        <button id="next_1" class="button btn btn-primary" type="button">Next</button>
                    </div>

                    <div id="form_2">
                        <div class="form-group">
                            <label for="InputAge">Age</label>
                            <select type="age" id="dog_age" name="age"class="form-control" required>
                                <option></option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="InputSize">Size</label>
                            <select type="age" id="dog_size"name="size" class="form-control" required>
                                <option></option>
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                            </select>
                        </div>
                    </div>


                    <button id="next_2" class="button btn btn-primary" type="button">Next</button>

                    <div class="form-group">
                        <label for="UploadPhoto">Upload photos</label>
                        <input id="dog_photos" type="file" name="pic" accept="image/*"> </div>

                    <button type="submit" id="submit_dog" class=" button btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Next</button>
            </div>
        </div>
    </div>
</div>

{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}

<script>
    var $dog_name = $('#dog_name');
    var $dog_breed = $('#dog_breed');
    var $dog_sex = $('#dog_sex');
    var $dog_age = $('#dog_age');
    var $dog_size = $('#dog_size');
    var $dog_form = $('#dog_form')

    $(document).ready(function () {

        $('#next_1').click(() => {
            $('.progress-bar').attr({
                "aria-valuenow": 33.33,
                "style": "width: 33.33%"
            })
        })

        $('#next_2').click(() => {
            $('.progress-bar').attr({
                "aria-valuenow": 66.66,
                "style": "width: 66.66%"
            })
        })

        $('#dog_photos').on('change', () => {
            $('.progress-bar').attr({
                "aria-valuenow": 100,
                "style": "width: 100%"
            })
        })


        $('#dog_form').submit(event => {
            event.preventDefault();
            var formElement = document.querySelector("#dog_form");
            var formData = new FormData(formElement);
            console.log(formData)

            let data = $(this).serialize()
            console.log(data)

            $.ajax({
                type: "POST",
                url: 'http://localhost:8080/dog/registration',
                data: new FormData(this),
                cache: false,
                contentType:  'multipart/form-data',
                processData: false,
                success: function (data) {
                    console.log("success");
                    console.log(data);
                },
                error: function (data) {
                    console.log("error");
                    console.log(data);
                }
            });
        });
    });
</script>