{{> filter}}

<div class="container">
    <div class="dog-row row">
        <div class="card-deck">
            <div class="card dog-card">
                <img class="card-img-top" src="/img/German-Shepherd-Dog-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Dog name</h4>
                    <p class="card-text">Brieft description of the dog</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card dog-card">
                <img class="card-img-top" src="/img/German-Shepherd-Dog-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Dog name</h4>
                    <p class="card-text">Brief description of the dog</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card dog-card">
                <img class="card-img-top" src="/img/German-Shepherd-Dog-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Dog name</h4>
                    <p class="card-text">Brieft description of the dog</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>