<div class="container remove-sides">
    {{> filter}}
    <div class="dog-row row">
        <div class="card-deck">


        </div>
    </div>
</div>

{{#if messages}}

<script>
    $(function () {
        console.log('happy')
        $("#login-btn").trigger("click", function () {
            console.log("fish")
        })
    })
</script>
<h1>{{messages}}</h1>


{{/if}}


<script src="/js/createDogCard.js"></script>
<script>
    $.get('/dog/view').done(function (dogJson) {
        console.log(dogJson)
        for (let dog of dogJson) {
            let s = createDogCard(dog)
            $('.card-deck').append(s)
        }
    })
</script>