{{> filter}}

<div class="container remove-sides">
    <div class="dog-row row">
        <div class="card-deck">
            <div class="col-sm-6 col-lg-4">
                <div class="card dog-card">
                    <img class="card-img-top" src="/img/German-Shepherd-Dog-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Dog name</h4>
                        <p class="card-text">Brieft description of the dog</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-lg-4">
                <div class="card dog-card">
                    <img class="card-img-top" src="/img/German-Shepherd-Dog-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Dog name</h4>
                        <p class="card-text">Brieft description of the dog</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4">
                <div class="card dog-card">
                    <img class="card-img-top" src="/img/German-Shepherd-Dog-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Dog name</h4>
                        <p class="card-text">Brieft description of the dog</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>