<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"> </script>
<script src="/js/createDogCard.js"></script>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="profile-container">
                <img class="profile-img">
            </div>
            <div class="card-body">
                <div id="dogRating" class="d-flex justify-content-center">
                    <i class="fa fa-star checkmark mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star checkmark mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star checkmark mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star checkmark mr-1" aria-hidden="true"></i>
                    <i class="fa fa-star checkmark mr-1" aria-hidden="true"></i>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <p class="stat mt-2"></p>
            </div>
        </div>
        <div class="col-sm-8 mb-5 pb-5">
            <div>
                <h1 id="profile-user-name"></h1>
                <p id="profile-user-des" class="mt-3"></p>
            </div>

            <div class="mt-5">
                <h1>Reviews</h1>
                <div id="reviewCarousel" class="carousel slide" data-interval="false" data-wrap="false">
                    <div class="carousel-inner"></div>
                </div>
                <div class="mt-3 mb-5">
                    <span id="review-more-num-group"></span>
                </div>
            </div>

            <div class="mt-5">
                <h1>Dogs</h1>
                <div id="dogs" class="card-deck">

                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/renderReview.js"></script>

<script>
    $(function () {
        // Get review and render
        renderReview();

        $.get(window.location.pathname + '/public').done(user => {
            $('img.profile-img').attr({ src: user.photos[0] })
            $('#profile-user-name').html(user.username);
            $('#profile-user-des').html(user.description.replace(/\n/g, '<br>'));
            $('p.stat').html(`
                <span>${user.dogIDs.length} &#160;
                    <a href="#dogs">
                        <img class="dog-icon" src="/img/dog_icon.svg" alt="dog_icon">
                    </a>
                    &ensp; ${user.reviews.length}
                    <a href="#reviewCarousel">Reviews</a>
                </span>
            `)

            // Smooth page jump
            $('a[href="#dogs"], a[href="#reviewCarousel"]').on('click', function (event) {
                var target = $(this.getAttribute('href'));
                if (target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top - 120 + "px"
                    }, {
                            duration: 600
                        });
                }
            });
        })
    })
</script>

<script>
    $(function () {
        $.get('/dog' + window.location.pathname).done((json_array) => {
            for (let dog of json_array) {
                $('#dogs').append(createDogCard(dog))
            }
        })
    })
</script>