<div class="container">
    <div class="row row-padding">
        <div class="col-sm-4">
            <div class="profile-container">
                <img class="profile-img" src="https://assets.entrepreneur.com/content/3x2/1300/20150406145944-dos-donts-taking-perfect-linkedin-profile-picture-selfie-mobile-camera-2.jpeg">
            </div>
            <div class="card-body">
                <div class="rating">
                    <span class="fa  fa-star checked"></span>
                    <span class="fa  fa-star checked"></span>
                    <span class="fa  fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <h1>Name</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In, molestiae! Reprehenderit aperiam vero magni facilis fugit temporibus, eaque maiores laborum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem numquam, porro cumque eligendi sequi provident esse officia saepe recusandae
                deleniti voluptatum, architecto dignissimos </p>
            <div class="card-body">
                <div class="rating">
                    <span class="fa  fa-address-book"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">

    </div>
</div>