<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"> </script>
<script src="/js/createDogCard.js"></script>
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="profile-container">
                <img class="profile-img">
            </div>
            <div class="card-body">
                <div class="rating">
                    <span class="fa  fa-star checked"></span>
                    <span class="fa  fa-star checked"></span>
                    <span class="fa  fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <p class="stat mt-4">
                    <span>3 &#160;
                    <a href="#dogs">
                        <img class="dog-icon" src="/img/dog_icon.svg" alt="dog_icon">
                    </a>
                    &ensp; 10
                        <a href="#reviewCarousel">Reviews</a>
                    </span>
                </p>
            </div>
        </div>
        <div class="col-sm-8 mb-5 pb-5">
            <div>
                <h1 id="profile-user-name">Name&#160;
                    <i class="fa fa-pencil" data-toggle="modal" data-target="#profileModal" aria-hidden="true"></i>
                </h1>
                <p id="profile-user-des" class="mt-3">Edit your description</p>
            </div>




            <div class="mt-5">
                <h1>Reviews</h1>
                <div id="reviewCarousel" class="carousel slide" data-interval="false" data-wrap="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <table class="review-table mt-3">
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name1</h5>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name</h5>
                                            <p>In, molestiae! Reprehenderit aperiam vero magni facilis fugit temporibus, eaque maiores laborum?</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem numquam, porro cumque eligendi sequi provident esse officia saepe recusandae</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="carousel-item">
                            <table class="review-table mt-3">
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name2</h5>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name</h5>
                                            <p>In, molestiae! Reprehenderit aperiam vero magni facilis fugit temporibus, eaque maiores laborum?</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem numquam, porro cumque eligendi sequi provident esse officia saepe recusandae</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="carousel-item">
                            <table class="review-table mt-3">
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name3</h5>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name</h5>
                                            <p>In, molestiae! Reprehenderit aperiam vero magni facilis fugit temporibus, eaque maiores laborum?</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem numquam, porro cumque eligendi sequi provident esse officia saepe recusandae</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="carousel-item">
                            <table class="review-table mt-3">
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name4</h5>
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name</h5>
                                            <p>In, molestiae! Reprehenderit aperiam vero magni facilis fugit temporibus, eaque maiores laborum?</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <div class="review-pic-container">
                                                <a href="#">
                                                    <img class="review-pic" src="https://static.pexels.com/photos/59576/pexels-photo-59576.jpeg">
                                                </a>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <h5>Name</h5>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem numquam, porro cumque eligendi sequi provident esse officia saepe recusandae</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="review-more-prev" data-target="#reviewCarousel" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="review-more-num review-more-current" data-target="#reviewCarousel" data-slide-to="0">1</button>
                    <button class="review-more-num" data-target="#reviewCarousel" data-slide-to="1">2</button>
                    <button class="review-more-num" data-target="#reviewCarousel" data-slide-to="2">3</button>
                    <button class="review-more-num" data-target="#reviewCarousel" data-slide-to="3">4</button>
                    <button class="review-more-next" data-target="#reviewCarousel" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </div>

            <div class="mt-5">
                <h1>Dogs&#160;
                    <i class="fa fa-plus" data-toggle="modal" data-target="#formDogModal" aria-hidden="true"></i>
                </h1>
                <div id="dogs" class="card-deck">

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profileModalLabel">Edit profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="profile_form" method="put" action="/user/information">
                        <div class="form-group">
                            <label for="user_name">Username</label>
                            <input id="user_name" name="user_name" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="user_des">Description</label>
                            <textarea id="user_des" name="user_des" rows="4" col="60" maxlength="1500" class="form-control"></textarea>
                        </div>
                        <input type="submit" id="submit_user" class=" button btn btn-primary" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{> form}}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>

<script>
    $(function () {
        // Highlight current carousel slide on review carousel
        $('#reviewCarousel').on('slide.bs.carousel', event => {
            $('.review-more-num:nth-child(' + (event.to + 2) + ')').addClass('review-more-current')
            $('.review-more-num:nth-child(' + (event.from + 2) + ')').removeClass('review-more-current')
        })

        // Get user private profile page from server
        $.get('/user/profile').done(user => {
            $('img.profile-img').attr({ src: user.photos[0]})
            $('#profile-user-name').html(user.username + '&#160; <i class="fa fa-pencil" data-toggle="modal" data-target="#profileModal" aria-hidden="true"></i>');
            $('#profile-user-des').html(user.description.replace(/\n/g, '<br>'));
        });

        // Put updated user information to server
        $('#profile_form').submit(event => {
            event.preventDefault();
            $.ajax({
                type: "PUT",
                url: '/user/information',
                data: {
                    "user_name": $('#user_name').val().trim(),
                    "user_des": $('#user_des').val()
                },
                success: function () {
                    console.log("User information updated");
                },
                error: function () {
                    console.log("User information not updated");
                }
            }).then(user => {
                $('#profile-user-name').html(user.username + '&#160; <i class="fa fa-pencil" data-toggle="modal" data-target="#profileModal" aria-hidden="true"></i>');
                $('#profile-user-des').html(user.description.replace(/\n/g, '<br>'));
                $('#profileModal').modal('hide');
            })
        });

        // Autofill modal from name and description field
        $('#profileModal').on('show.bs.modal', ()=>{
            $('input#user_name').val($('#profile-user-name').text());
            $('textarea#user_des').val($('#profile-user-des').html().replace(/<br>/g, '\n'));
        })
        
        // Smooth page jump
        $('a[href="#dogs"], a[href="#reviewCarousel"]').on('click', function (event) {
            var target = $(this.getAttribute('href'));
            if (target.length) {
                event.preventDefault();
                $('html, body').stop().animate({
                    scrollTop: target.offset().top - 120 + "px"
                }, {
                    duration: 600
                });
            }
        });
    })
</script>
<script src="/js/registerDog.js"></script>
<script>
    $(function () {
        $.get('/dog/mydogs').done((json_array) => {
            for (let dog of json_array) {
                $('#dogs').append(createDogCard(dog))
            }
        })
    })
</script>