/* navvar */

.navbar {
    height: 60px;
}

.nav-item:hover {
    border-bottom: solid 2px black;
}


/* Filter Bar */

.filter-bar {
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
}

#form-menu {
    padding: 10px;
    min-height: 400px;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable:active {
    background-color: white;
}

.unselectable:hover {
    background-color: white;
}

.slider-container {
    width: 300px;
    padding: 10px;
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
}

.filter-btn {
    margin: 0 10px;
}

.filter-btn:first-child {
    margin-left: 0;
}

.hide {
    display: none;
}


/* Remove arrow on drop down */

.dropdown-toggle::after {
    display: none
}


/* Container */

.container {
    margin: 0 auto;
    /* max-width: 98vw; */
}

.card-deck {
    margin: 0 !important;
}


/* Facebook */

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fa-facebook {
    background: #4267b2;
    color: white;
}


/* Twitter */

.modal.show .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}

.social-modal {
    border: 0;
}

.social {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
}

.social:hover {
    color: white;
    text-decoration: none;
}

.fa-twitter {
    background: #1da1f2;
    color: white;
}

.fa-github {
    background: #767676;
    color: white;
}

.fa-google {
    background: #d34836;
    color: white;
}

.dog-row {
    justify-content: space-around
}

.card-deck {
    margin: 15px;
}

.dog-card {
    margin: 15px 0 !important;
}


/* Profile page */

.rating {
    text-align: center;
    padding: 5px;
}

.rating .checked {
    color: rgb(232, 232, 0);
}

.row-padding {
    padding-top: 60px;
}


.profile-container {
    margin: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .profile-container {
        width: 150px;
        height: 150px;
    }
}

.profile-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}