/* navvar */

.navbar {
    height: 60px;
}

.nav-item:hover {
    border-bottom: solid 2px black;
}


/* Filter Bar */

.filter-bar {
    height: 60px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
}

#form-menu {
    padding: 10px;
    min-height: 400px;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable:active {
    background-color: white;
}

.unselectable:hover {
    background-color: white;
}

.slider-container {
    width: 300px;
    padding: 10px;
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
}

.filter-btn {
    margin: 0 10px;
}

.hide {
    display: none;
}


/* Remove arrow on drop down */

.dropdown-toggle::after {
    display: none
}


/* Container */

.container {
    max-width: 98vw;
}


/* Facebook */

.fa-facebook {
    background: #4267b2;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #1da1f2;
    color: white;
}

.fa-github {
    background: #767676;
    color: white;
}

.fa-google {
    background: #d34836;
    color: white;
}

.dog-row {
    justify-content: space-around
}

.card-deck {
    margin: 15px;
}

.dog-card {
    min-width: 300px;
    margin: 15px;
}

