/* navvar */

.navbar {
    height: 60px;
}

.nav-item:hover {
    border-bottom: solid 2px black;
}

.navbar-brand img{
    height: 50px;
    margin-top: 5px;
}

/* Filter Bar */

.filter-bar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 10px 15px 0 15px;
}

#form-menu {
    min-height: 400px;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable:active {
    background-color: white;
}

.unselectable:hover {
    background-color: white;
}

.slider-container {
    width: 300px;
    padding: 10px;
}

#date-form {
    width: 225px;
    margin-right: 10px;
}

.popover {
    max-width: 100%;
    /* Max Width of the popover (depending on the container!) */
}

.filter-btn {
    margin-right: 10px;
}

.hide {
    display: none;
}

/* Remove arrow on drop down */

.dropdown-toggle::after {
    display: none
}


/* Container */

.container {
    margin: 0 auto;
    /* max-width: 98vw; */
}

.card-deck {
    margin: 0 !important;
}

/* Facebook */

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 300px;
}

.fa-facebook {
    background: #4267b2;
    color: white;
}


/* Twitter */

/* .modal.show .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
} */

.modal {
    text-align: center;
    padding: 0!important;
}


.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
  
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 0 auto;
}

.social-modal {
    border: 0;
}

.social {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
}

.social:hover {
    color: white;
    text-decoration: none;
}

.fa-twitter {
    background: #1da1f2;
    color: white;
}

.fa-github {
    background: #767676;
    color: white;
}

.fa-google {
    background: #d34836;
    color: white;
}

.dog-row {
    justify-content: space-around
}

.card-deck {
    margin: 15px;
    width: 100%;
}

.card-text {
    display: inline-block; 
    display: -webkit-box;  
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3em;
}

.dog-card {
    margin: 15px 0 !important;
}

.dog-card .carousel-item,
.dogPhotos .carousel-item {
    position: absolute;
    top: 0;
    height: 100%;
}

.dog-card .carousel-item img,
.dogPhotos .carousel-item img {
    position: relative;
    height: 100%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%)
}

.dog-card .carousel-inner,
.dogPhotos .carousel-inner {
    position: relative;
    width: 100%;
    padding-top: 75%;
}

.dog-card .carousel-control-prev,
.dog-card .carousel-control-next {
    opacity: 0;
}

.dog-card .carousel-control-prev:hover {
    opacity: 1;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.4))
}

.dog-card .carousel-control-next:hover {
    opacity: 1;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4))
}

/* Profile page */

.rating {
    text-align: center;
    padding: 5px;
}

.rating .checked {
    color: rgb(232, 232, 0);
}

.profile-container {
    margin: auto;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 768px) {
    .profile-container {
        width: 150px;
        height: 150px;
    }
}

.profile-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.dog-icon {
    height: 2em;
    vertical-align: middle;
    cursor: pointer;
}

.stat {
    font-weight: 500;
}

.stat a[href^="#"] {
    color: inherit;
}

.fa-pencil,
.fa-plus,
.fa-trash,
#message-btn {
    color: #AAA;
    cursor: pointer;
    margin-right: 20px;
}

.fa-pencil:hover,
.fa-plus:hover,
.fa-trash:hover,
#message-btn:hover {
    color: orange;
}

.chatbox { 
    height: 63vh; 
    border: 1px solid rgba(0,0,0,.125); 
    margin-bottom: 15px; 
    border-radius: 5px; 
    overflow: auto;
} 

.review-pic-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.review-pic {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.review-table {
    width: 100%;
}

#reviewCarousel .carousel-item {
    max-width: 500px;
}

.review-table td{
    padding: 10px 30px 0 0;
}

.review-table h5 {
    margin-bottom: 0;
}

.review-table tr {
    border-bottom: 0.5px solid #CCC;
}

.review-table tr:last-child {
    border-bottom: none;
}

#reviewCarousel {
    position: relative;
}

.review-more-num,
.review-more-prev,
.review-more-next {
    font-weight: 700;
    color: #666;
    background: none;
    border: 1px solid #CCC;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: inline-block;
    text-align: center;
    /* bottom: 0px;
    position: absolute; */
}

.fa-chevron-left,
.fa-chevron-right {
    vertical-align: middle;
}

.review-more-num:hover,
.review-more-prev:hover,
.review-more-next:hover,
.review-more-current {
    background: #AAA;
    border-color: #AAA;
    color: #FFF;
    text-decoration: none;
}

.review-more-num:focus,
.review-more-prev:focus,
.review-more-next:focus {
    outline: none;
}

.review-more-num + span {
    margin-right: 5px;
}

.reviewCarousel .carousel-indicators-number li{
    text-indent: 0;
    background: none;
    border: 1px solid #CCC;
    border-radius: 50%;
    width: 30px;
    height: 30px !important;
    margin-right: 5px;
    vertical-align: middle;
}

#profileModal .modal-dialog,
#formDogModal .modal-dialog {
    width: 80%;
}

.thumbnail {
    position: relative;
    width: 75px;
    height: 50px;
    background: none;
    overflow: hidden;
    border: 1px solid #CCC;
    padding: 0;
    margin-bottom: 30px;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.dogPhotos .carousel {
    border: 1px solid #CCC;
    overflow: hidden;
}

.dogInfo td {
    min-width: 70px;
    padding: 5px 20px 5px 0;
}

.dogInfo td:nth-child(2n) {
    padding-right: 50px;
}

#dogBreed,
#dogSex,
#dogAge,
#dogSize,
#dogOwner {
    font-weight: 500;
}

#dogOwner span {
    margin-right: 10px;
}

#dogOwner a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    vertical-align: text-top;
    border: 0;
}

#dogOwner button:focus {
    outline: none;
}

#dogOwner img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

#postReview textarea {
    max-width: 500px;
}

.dog_rating button {
    position: relative;
    background: none;
    border: 0;
}

.dog_rating button:focus {
    outline: none;
}

.dog_rating input {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
}

.blue {
    color: blue;
}

.checkmark {
    top: 0;
    left: 0;
}